@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url("//cdn.jsdelivr.net/gh/wan2land/d2coding/d2coding-full.css");

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --ifm-color-primary: var(--color-yellow-500);
  --ifm-footer-background-color: var(--grey-100);
  --ifm-font-family-monospace: "Fira Code", "D2Coding", monospace;
  /**
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  */

  

  --chestnut: oklch(0.3993 0.0447 45.88);
  --chestnut-dark: oklch(0.3493 0.0447 45.88);
  --chestnut-darker: oklch(0.2993 0.0447 45.88);
  
  --rustynut-super-lightest: oklch(0.8849 0.1052 57);
  --rustynut-lightest: oklch(0.5849 0.1052 57);
  --rustynut-light: oklch(0.4849 0.1052 57);
  --rustynut: oklch(0.4349 0.1052 57);
  --rustynut-dark: oklch(0.3849 0.1052 57);
  --rustynut-darker: oklch(0.3349 0.1052 57);
  --rustynut-darkest: oklch(0.2849 0.1052 57);
  
  --espresso-light: oklch(0.35 0.0358 30.2);
  --espresso: oklch(0.3 0.0358 30.2);
  --espresso-dark: oklch(0.25 0.0358 30.2);
  --espresso-darker: oklch(0.2 0.0358 30.2);
  --espresso-darkest: oklch(0.15 0.0358 30.2);
  --grey-100: #f5f5fa;
}

html[data-theme='dark'] {
  --ifm-navbar-background-color: var(--espresso);
  --ifm-navbar-link-hover-color: var(--rustynut-super-lightest);
  --ifm-navbar-link-color: #FFFFFF;
  --ifm-link-hover-color: var(--rustynut-lightest);
  --ifm-background-color: var(--espresso-darkest);
  --ifm-color-primary: var(--rustynut-super-lightest);
  --ifm-footer-background-color: #0a141c;
  --ifm-font-family-base: 'Noto Sans KR' sans-serif;

  /* Secondary */
  --ifm-color-secondary-contrast-background: #3B3B3C;
  --ifm-color-secondary-contrast-foreground: #FDFDFE;
  --ifm-color-secondary-dark: #474748;

  /* Success */
  --ifm-color-success-contrast-background: #1F451F;
  --ifm-color-success-contrast-foreground: #C8E5C8;
  --ifm-color-success-dark: #2F5D2F;

  /* Info */
  --ifm-color-info-contrast-background: #1B4555;
  --ifm-color-info-contrast-foreground: #C9EBF6;
  --ifm-color-info-dark: #2A5A6D;

  /* Warning */
  --ifm-color-warning-contrast-background: #4A3A11;
  --ifm-color-warning-contrast-foreground: #F8EED9;
  --ifm-color-warning-dark: #624B1B;

  /* Danger */
  --ifm-color-danger-contrast-background: #5A1F21;
  --ifm-color-danger-contrast-foreground: #FFD2D3;
  --ifm-color-danger-dark: #722E30;

  /**
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  */

  --chestnut: oklch(0.3993 0.0447 45.88);
  --chestnut-dark: oklch(0.3493 0.0447 45.88);
  --chestnut-darker: oklch(0.2993 0.0447 45.88);
  
  --rustynut-lightest: oklch(0.5849 0.1052 57);
  --rustynut-light: oklch(0.4849 0.1052 57);
  --rustynut: oklch(0.4349 0.1052 57);
  --rustynut-dark: oklch(0.3849 0.1052 57);
  --rustynut-darker: oklch(0.3349 0.1052 57);
  --rustynut-darkest: oklch(0.2849 0.1052 57);
  
  --espresso-light: oklch(0.35 0.0358 30.2);
  --espresso: oklch(0.3 0.0358 30.2);
  --espresso-dark: oklch(0.25 0.0358 30.2);
  --espresso-darker: oklch(0.2 0.0358 30.2);
  --espresso-darkest: oklch(0.15 0.0358 30.2);
}

html {
  font-family: 'Noto Sans KR', sans-serif;
}

.alert > div:first-child {
  display: flex;
  align-items: center;
  line-height: 1.5;
};

.header-github-link {
  opacity: 0.6;
  transition: opacity 0.2s, filter 0.2s;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.header-github-link:hover {
  opacity: 1;
}

html[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.prism-code {
  background-color: rgb(246, 248, 250) !important;
}

html[data-theme='dark'] .prism-code {
  background-color: oklch(0.25 0.02 0) !important;
}

ul {
  @apply list-disc;
}

ol {
  @apply list-decimal;
}

li {
  @apply leading-relaxed mb-1;
}

.no-margin-p p {
  margin-bottom: 0 !important;
}

@import "tailwindcss";